{% extends '_layout.html' %}
{% load static from staticfiles %}

      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      {% block content %}
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Last Athletes Negotiated</h3>
          	<div class="row mt">
          		<div class="col-lg-12">

					<! -- 1st ROW OF PANELS -->
					<div class="row">
						{% for paper in context %}
                            {% if forloop.counter0 == 3 or forloop.counter0 == 6 or forloop.counter0 == 9 %}
                                <div class="row">
                            {% endif %}
                            <div class="col-md-4 col-sm-4 mb">
                                <div class="stock card">
                                    <div class="stock-chart">
                                        <div id="chart"></div>
                                    </div>
                                    <div class="stock current-price">
                                        <div class="row">
                                            <div class="info col-sm-6 col-xs-6"><abbr>{{paper.paper_code}}</abbr>
                                                <time>Now</time>
                                            </div>
                                        <div class="changes col-sm-6 col-xs-6">
                                            {% if paper.paper_variation >= 0 %}
                                                <div class="value up"><i class="fa fa-caret-up hidden-sm hidden-xs"></i> {{ paper.paper_value }}</div>
                                                <div class="change hidden-sm hidden-xs">{{paper.paper_variation|floatformat:2}}%</div>
                                            {% else %}
                                                <div class="value down"><i class="fa fa-caret-down hidden-sm hidden-xs"></i> {{ paper.paper_value }}</div>
                                                <div class="change hidden-sm hidden-xs">{{paper.paper_variation|floatformat:2}}%</div>
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="summary">
                                        <strong>{{paper.sport}}</strong> <span> - {{paper.paper_name}}</span>
                                    </div>
                                </div>
                            </div><! -- /col-md-4 -->
                            {% if forloop.counter0 == 2 or forloop.counter0 == 5 or forloop.counter0 == 8 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
          	</div>

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
					<!-- /END 6TH ROW OF PANELS -->
      {% endblock %}
      {% block right_menu %}
      {% endblock %}